.cache.sh
system/.custom
MYFILE
*.swp
todo*.txt
todo*.md
*.spl
Session.vim
etc/iterm/colorschemes

# Obsidian
**/.obsidian/workspace.json
**/.obsidian/graph.json
**/.obsidian/plugins

# VS Code Profiles
etc/visual-studio-code/profiles/**/globalStorage
