---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: check-executables-have-shebangs
      - id: check-json
        types: [file]
        files: \.(json)$
      - id: check-merge-conflict
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: debug-statements
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
        exclude: (obsidian|etc/kiro-cli/)
      - id: pretty-format-json
        args: [--autofix, --indent=4]
        types: [text]
        files: \.(json)$
        exclude: (obsidian|etc/kiro-cli/)
      - id: mixed-line-ending
        exclude: \.plist$
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        minimum_pre_commit_version: 2.4.0
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: ["-w", "-i", "4"]
        types: [shell]
        exclude_types: ["zsh"]
      - id: shellcheck
        name: ShellCheck
        description: Static analysis tool for shell scripts (installed via CLI)
        language: system
        entry: shellcheck
        types: [shell]
        exclude_types: ["zsh"]
      - id: prettier
        name: prettier
        language: node
        entry: prettier
        args: ["--write", "--config", ".prettierrc.json"]
        files: \.(sublime-settings$)
  # - repo: https://github.com/btford/write-good
  #   rev: v1.0.4
  #   hooks:
  #     - id: write-good
  #       args: ["--no-passive", "--no-tooWordy"]
  #       exclude: ^obsidian/
  # - repo: https://github.com/amperser/proselint
  #   rev: 0.12.0
  #   hooks:
  #     - id: proselint
  #       files: "\\.(rst|md|markdown|mdown|mkdn)$"
  - repo: https://github.com/openstack/bashate
    rev: 2.1.0
    hooks:
      - id: bashate
        args: ["--max-line-length", "100", "--ignore", "E004,E006,E040,E044"]
        exclude_types: ["zsh"]
  # - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
  #   rev: v1.1.2
  #   hooks:
  #     - id: markdown-toc
  #       args: ["-i", "--bullets", "-"]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        files: "etc/git"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint-fix
        args: ["--config", "~/.markdownlintrc"]
