##############################
# Version Control
##############################
alias gs='git status'
alias gh='git history'
alias gd='git diff'
alias gdc='git diff --cached'
alias gwd='git diff --word-diff'
alias gwdc='git diff --word-diff --cached'
alias gf='git fetch'
alias gm='git merge'
alias gp='git push'
alias gpf='git push --force'
alias gb='git branch'
alias gg='git grep -n'
alias gc='git commit'
alias ge='git edit'
alias gea='git edit-all'

# Delete branches that have been merged to trunk branch (usually main)
alias gdm='git branch --merged $(get_trunk_branch) | grep --extended-regexp --invert-match $(get_trunk_branch) | xargs --no-run-if-empty git branch --delete'
# Select files modified files to add/stage
alias ga='git ls-files --modified --others --exclude-standard | fzf --exit-0 --multi --preview "git diff --color=always {-1}" | xargs -o -t -r git add'
# Select files modified files to add/stage with patch
alias gap='git ls-files --modified --others --exclude-standard | fzf --exit-0 --multi --preview "git diff --color=always {-1}" | xargs -o -t -r git add --patch'
# Select branch to delete, excluding current
alias gbd='git branch | grep --extended-regexp --invert-match "$(git branch --show-current)" | fzf | xargs git branch --delete'
# Select branch to merge, excluding current
alias gbm='git branch | grep --extended-regexp --invert-match "$(git branch --show-current)" | fzf | xargs git merge'
# Select commit to fixup with already staged changes
alias gcf=get_fixup_commit
# Select branch to rebase onto, excluding current
alias gr='git branch --all | grep --extended-regexp --invert-match "HEAD|$(git branch --show-current)" | fzf | xargs git rebase --autostash'
# Select branch to interactively rebase onto, excluding current
alias gri='git branch --all | grep --extended-regexp --invert-match "HEAD|$(git branch --show-current)" | fzf | xargs -o git rebase --autostash --autosquash --interactive'
# Select branch to switch to, exclusing current
alias gsw='git branch --all | grep --extended-regexp --invert-match "HEAD|$(git branch --show-current)" | fzf | sed "s#remotes/[^/]*/##" | xargs git switch'

##############################
# Python
##############################
alias pipcache='pip download --dest ${HOME}/.pip/packages'
alias pipinstall='pip install --no-index --find-links=file://${HOME}/.pip/packages/'


##############################
# Docker Compose
##############################
alias dc='docker-compose'
alias dclogs='docker-compose logs -tf --tail="50" '


##############################
# Atom
##############################
alias zshrc='$EDITOR $ZDOTDIR/.zshrc'
alias vimrc='$EDITOR ~/.vimrc'
alias hosts="sudo $EDITOR /etc/hosts"


##############################
# Filesystem
##############################
alias reload="exec zsh"
alias rr="rm -rf"
alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'
alias df='df -H -l'
alias cleanupnode="find . -name 'node_modules' -exec rm -rf '{}' +"
alias cleanupvenv="find . -name '.venv' -exec rm -rf '{}' +"
alias please='sudo $(fc -ln -1)'
# alias ls='ls --color'
# alias ll='ls -lh --color'


##############################
# Networking
##############################
alias ip="curl -s ipinfo.io | jq -r '.ip'"
alias iplocal="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias speedtest="wget -O /dev/null http://speed.transip.nl/100mb.bin"


##############################
# Calendar
##############################
alias week="date +%V"


##############################
# HTTPie
##############################
alias https="http --default-scheme=https"

##############################
# Kubernetes
##############################
alias kc='kubectl'
alias kctx='kubectx'
alias kns='kubens'
alias kui='kc proxy & sleep 2 && open -a "/Applications/Google Chrome.app" "http://localhost:8001/ui"'


##############################
# Terraform
##############################
alias tf='terraform'


##############################
# Vim
##############################
alias vanillavim='vim --noplugins -u NONE'

##############################
# Ag
##############################
alias ag='ag --hidden'

##############################
# Dotfiles
##############################
alias dfe='dotfiles edit'

##############################
# Modern Unix CLI Tools
##############################
alias cat='cat_sleep $1'

############################################################
# Mac OS Aliases
############################################################

##############################
# Homebrew
##############################
alias cask="brew cask"
alias tap="brew tap"
alias leaves="brew leaves | xargs brew deps --installed --for-each | sed \"s/^.*:/$(tput setaf 4)&$(tput sgr0)/\""

##############################
# Filesystem
##############################
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'
alias logoff="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

alias cleanupds="find . -type f -name '*.DS_Store' -ls -exec /bin/rm {} \;"
alias cleanupad="find . -type d -name '.AppleD*' -ls -exec /bin/rm -r {} \;"

# Empty trash on mounted volumes and main HDD, and clear system logs
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show time machine excluded files and folders
alias tmexcluded="mdfind \"com_apple_backup_excludeItem = 'com.apple.backupd'\" | sort"

# Reload native apps
alias killfinder="killall Finder"
alias killdock="killall Dock"
alias killmenubar="killall SystemUIServer NotificationCenter"
alias killos="killfinder && killdock && killmenubar"
alias killbluetooth="blueutil -p 0 && sleep 1 && blueutil -p 1"

# sleepWake reasons
alias wakereason="log show --style syslog --last 3h | fgrep \"[powerd:sleepWake]\""
