[user]
	name = Austin McConnell
	email = austin.s.mcconnell@gmail.com
	signingkey = D10D0D7DE28CE6C6

[credential]
	helper = osxkeychain

[core]
	excludesfile = ~/.gitignore_global
	editor = nano
	pager = diff-so-fancy | less --tabs=4 -RFX

[push]
	default = simple
	followTags = true

[merge]
	ff = only

[fetch]
 	prune = true

[alias]
	amend = commit --amend --reuse-message=HEAD
	br = branch
	ci = commit
	co = checkout
	contrib = shortlog --summary --numbered
	history = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset --hard HEAD
	wdiff = diff --word-diff

[init]
	templatedir = ~/.git-templates

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[commit]
	gpgsign = true
